<!DOCTYPE html>
<html>
<head>
	<title>WebmTV</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css" />
	<script type="text/javascript">
		function getCookie(cname){
		  var name = cname + "=";
		  var ca = document.cookie.split(';');
		  for(var i=0; i<ca.length; i++) 
		  {
		    var c = ca[i].trim();
		    if (c.indexOf(name)==0) return c.substring(name.length,c.length);
		  }
		  return "";
		}

	</script>
</head>
<body>
<div class="flex-left" style="box-shadow: 2px 2px 5px #ddd">
	<div class="unit-0" style="padding: 5px;"><a href="/">WebmTV</a></div>
	<div class="unit"></div>
	<div class="unit-0">
		{{if .Loggedin}}
		<a href="/upload" class="btn top-gap-0">上传</a>
		<a href="/u?id={{.Me}}" class="btn btn-primary top-gap-0">{{.Me}}</a>
		{{else}}
		<a href="login" class="btn top-gap-0">登录</a>
		{{end}}
	</div>
</div>
<div class="flex-left">
<div class="unit hide-on-mobile"></div>
<table border="0">
{{range .New}}
<tr onclick="location.href='/v?vid={{.Vid}}'">
	<td><img src="{{.Cover}}" width="200" height="100"></td>
	<td><div class="flex-middle">{{.Title}}</div></td>
</tr>
{{end}}
</table>
<div class="unit hide-on-mobile"></div>
</div>
</body>
</html>