<!DOCTYPE html>
<html>
<head>
	<title>WebmTV</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css" />
	<script type="text/javascript">
		function LogOut(){
			setCookie("WEBMTV-SESSION-ID","",0)
			location.href="/"
		}
		function setCookie(cname,cvalue,exdays){
		  var d = new Date();
		  d.setTime(d.getTime()+(exdays*24*60*60*1000));
		  var expires = "expires="+d.toGMTString();
		  document.cookie = cname + "=" + cvalue + "; " + expires;
		}
		function prePageFunc(){
			var reqPage=(new Number(document.getElementsByName("curPage")[0].value)-1).toString()
			location.href="/u?id="+document.getElementsByName("id")[0].value+"&reqPage="+reqPage
		}
		function nextPageFunc(){
			var reqPage=(new Number(document.getElementsByName("curPage")[0].value)+1).toString()
			location.href="/u?id="+document.getElementsByName("id")[0].value+"&reqPage="+reqPage
		}
	</script>
</head>
<body>
<div class="flex-left" style="box-shadow: 2px 2px 5px #ddd">
	<div class="unit-0"><button type="button" class="btn top-gap-0" onclick="window.history.back()"><</button></div>
	<div class="unit-0" style="padding: 5px;"><a href="/">WebmTV</a></div>
</div>
<div class="flex-vertical top-gap">
{{with .Me}}
	<h1 class="unit-0 flex-center">{{.ID}}</h1>
{{end}}
{{if .IsMyPage}}
<div class="flex-center unit-0">
<button type="button"  onclick="LogOut()" class="btn">logout</button>
</div>
{{end}}
<p>Uploads :</p>


<table border="0">
{{if .IsMyPage}}
	{{range .MyVideos}}
		<tr>
			<td><img src="{{.Cover}}" width="200" height="100"></td>
			<td><a href="/v?vid={{.Vid}}">{{.Title}}</a><br>
				<a href="/editvideo?vid={{.Vid}}">edit</a>
				<a href="/deletevideo?vid={{.Vid}}">delete</a><br>
				{{.Uploadtime}}
			</td>
		</tr>
	{{end}}
{{else}}
	{{range .MyVideos}}
		<tr>
			<td><img src="{{.Cover}}" width="200" height="100"></td>
			<td><a href="/v?vid={{.Vid}}">{{.Title}}</a>
			</td>
		</tr>
	{{end}}
{{end}}
</table>
<div class="flex-center unit-0">
<button type="button" class="btn unit-0 top-gap-0" id="prePage" onclick="prePageFunc()"><</button>
<form method="post" action="/u">
	{{with .Me}}
	<input type="hidden" name="id" value="{{.ID}}">
	{{end}}
	<input type="hidden" name="curPage" value="{{.CurrentPage}}">
	<input type="text" size="1" name="reqPage" value="{{.CurrentPage}}">
	/<span id="totalPage">{{.TotalPage}}</span>
	<button type="submit" class="btn top-gap-0" name="submit">submit</button>
</form>
<button type="button" class="btn unit-0 top-gap-0" id="nextPage" onclick="nextPageFunc()">></button>
</div>
</div>
<script type="text/javascript">
	if (document.getElementsByName("curPage")[0].value=="1") {
		document.getElementById("prePage").disabled="disabled"
	}
	if (document.getElementsByName("curPage")[0].value==document.getElementById("totalPage").innerHTML) {
		document.getElementById("nextPage").disabled="disabled"
	}
</script>
</body>
</html>