<!DOCTYPE html>
<html>

<head>
	<title>WebmTV</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
{{with .MVideo}}
	{{if .IsWebTorrent}}
	<script type="text/javascript" src="https://cdn.jsdelivr.net/webtorrent/latest/webtorrent.min.js"></script>
	{{end}}
	<script type="text/javascript">
		function addComment () {
			 var xhr=new  XMLHttpRequest()
			 var fd="cm="+encodeURIComponent(document.getElementsByName("cm")[0].value)+"&vid={{.Vid}}"
			 xhr.onreadystatechange=function(){
				if (xhr.readyState==XMLHttpRequest.DONE) {
				   var p=document.createElement("p")
				   var a =document.createElement("a")
				   var span=document.createElement("span")
				   a.href="/u?id="+xhr.responseText
				   a.innerHTML=xhr.responseText
				   p.appendChild(a)

				   span.innerHTML=":"+document.getElementsByName("cm")[0].value
				   p.appendChild(span)
				   var mConatainer=document.getElementById("cmContainer")
				   mConatainer.insertBefore(p, mConatainer.firstChild)
				}
			 }
			 xhr.open("POST", "/comment")
			 xhr.setRequestHeader("Content-Type", "Application/x-www-form-urlencoded")
			 xhr.send(fd)
		}
	</script>
	</head>
	<body><center>
	<b>{{.Title}}</b><br>
	{{if not .IsWebTorrent}}
	<video src="{{.VURL}}" width="320" height="180" controls autoplay></video><br>
	{{else}}
	<div id="vContainer"></div>
	{{end}}
	<p>By:<a href="/u?id={{.OwnerID}}">{{.OwnerID}}</a></p>

	<input type="text" name="cm">
	<input type="button"  value="comment" onclick="addComment()"><br>
{{end}}
<div id="cmContainer">
{{range .MComments}}
	<p><a href="/u?id={{.OwnerID}}">{{.OwnerID}}</a>:{{.Data}}</p>
{{end}}
</div>
</center>
{{with .MVideo}}
{{if .IsWebTorrent}}
	<script type="text/javascript">
	var client = new WebTorrent()
	var torrentId = '{{.VURL}}'

	client.add(torrentId, function (torrent) {
		var file = torrent.files.find(function (file) {
			console.log('got file')
		    return file.name.endsWith('.mp4')
		  })
		file.appendTo('#vContainer')
	})
</script>
{{end}}
{{end}}
</body>
</html>