<!DOCTYPE html>
<html>

<head>
	<title>WebmTV</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css" />
{{with .MVideo}}
	{{if .IsWebTorrent}}
	<script type="text/javascript" src="https://cdn.jsdelivr.net/webtorrent/latest/webtorrent.min.js"></script>
	{{end}}
	<script type="text/javascript">
		function addComment () {
			 var xhr=new  XMLHttpRequest()
			 var fd="cm="+encodeURIComponent(document.getElementsByName("cm")[0].value)+"&vid={{.Vid}}"
			 xhr.onreadystatechange=function(){
				if (xhr.readyState==XMLHttpRequest.DONE) {
					if (xhr.responseText=="Plz Login first") {
						window.location.href="/login"
						return
					}
				   var p=document.createElement("p")
				   var a =document.createElement("a")
				   var span=document.createElement("span")
				   a.href="/u?id="+xhr.responseText
				   a.innerHTML=xhr.responseText
				   p.appendChild(a)

				   span.innerHTML=":"+document.getElementsByName("cm")[0].value
				   p.appendChild(span)
				   var mConatainer=document.getElementById("cmContainer")
				   mConatainer.insertBefore(p, mConatainer.firstChild)
				}
			 }
			 xhr.open("POST", "/comment")
			 xhr.setRequestHeader("Content-Type", "Application/x-www-form-urlencoded")
			 xhr.send(fd)
		}
	</script>
	</head>
	<body>
<div class="flex-left" style="box-shadow: 2px 2px 5px #ddd">
	<div class="unit-0"><button type="button" class="btn top-gap-0" onclick="window.history.back()"><</button></div>
	<div class="unit-0" style="padding: 5px;"><a href="/">WebmTV</a></div>
</div>
<div class="flex-left">
<div class="unit hide-on-mobile"></div>
<div class="unit-0 flex-vertical top-gap">
	<b>{{.Title}}</b>
	{{if not .IsWebTorrent}}
	<video src="{{.VURL}}" width="100%" controls autoplay></video><br>
	{{else}}
	<div id="vContainer"></div>
	{{end}}
	<p class="top-gap-0">By:<a href="/u?id={{.OwnerID}}">{{.OwnerID}}</a></p>

	<div class="flex-left flex-middle top-gap">
	<input type="text" name="cm" class="unit">
	<button type="button" class="unit-0 btn btn-primary top-gap-0" onclick="addComment()">comment</button>
	</div>
{{end}}
<div id="cmContainer unit-0">
{{range .MComments}}
	<p><a href="/u?id={{.OwnerID}}">{{.OwnerID}}</a>:{{.Data}}</p>
{{end}}
</div>

{{with .MVideo}}
{{if .IsWebTorrent}}
	<script type="text/javascript">
	var client = new WebTorrent()
	var torrentId = '{{.VURL}}'

	client.add(torrentId, function (torrent) {
		var file = torrent.files.find(function (file) {
			console.log('got file')
		    return file.name.endsWith('.mp4')
		  })
		file.appendTo('#vContainer')
	})
</script>
{{end}}
{{end}}
</div>
<div class="unit hide-on-mobile"></div>
</div>
</body>
</html>